<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="cnxSocialRequirementsDB" connectionString="data source=PINCAYCONCHA-PC;initial catalog=SocialRequirements;integrated security=True;user id=sa;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>